/*
* File: style.css
* Author: Kurucz János
* Copyright: 2023, Kurucz János
* Group: Szoft 1/I/E
* Date: 2023-01-31
* Github: https://github.com/KuruczJanos/terkup.git
* Licenc: GNU GPL
*/


body{
    background-color:darkred;
}
#about{
    font-size:x-large;
    color:black
}